/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/storage/rsa-keys/production/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.DS_Store
yarn.lock
nbproject
composer.lock
package-lock.lock